@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* *************************************NavBAR***************************************************8 */
.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 997;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dropdown-tog {
  white-space: no-wrap;
}

.nav-list-item {
  font-family: 'inter', sans-serif !important;
  font-size: 16px;
  font-weight: 600 !important;
}

.nav-list {
  position: relative;
  padding: 5px 3px;
}

.nav-list>a {
  margin: 0;
  padding: 6px 0 !important;
}

.nav-list>a::after {
  content: ' ';
  position: absolute;
  bottom: 6px;
  left: 0;
  display: block;
  background-color: red;
  height: 2px;
  width: 0;
  transition: width 0.3s;
}

.nav-list>a:hover::after {
  width: 100%;
}

@media only screen And (min-width:992px) {

  .nav-list {
    margin: 0 15px !important;
  }
}


/* Section-1  */

.section {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 160px 0 60px 0;
  min-height: 100vh;
}

.section-bg {
  background-color: #dedede;
}

.home-col1>h2 {
  font-size: 64px;
  font-family: 'Amatic SC', sans-serif;
}

/* Section-2  */

.section-2 {
  padding: 80px 0 20px 0;
}

.section-header {
  text-align: center;
  padding-bottom: 30px;
}

.section-header>h2 {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #7F7F90;
  font-weight: 400;
  font-stretch: 100%;
  letter-spacing: 1px;
}

.section-header>p {
  font-size: 48px;
  font-family: 'Amatic SC', sans-serif;
  line-height: 72px;
}

.section-header>h5 {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.about-col1 {
  background: url('../public/images/table.jpg') no-repeat center center/cover;
  min-height: 250px;
}

.about-col2>p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
}

.booking-no {
  background-color: white;
  width: 80%;
}

.abt-list>li {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.abt-box {
  height: 300px;
  background: url('../public/images/food-cont2.jpeg') no-repeat center center/cover;
}

.abt-box-info>h4 {
  font-family: 'inter', sans-serif !important;
  font-size: 20px;
  font-weight: 400;
  color: #212529;
  padding: 5px 0;
}

.abt-box-info>p {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #6C757D;
}

.abt-box-info {
  transition: transform 0.3s;
}

.abt-box-info:hover {
  transform: scale(1.1);
}

.stats {
  background: url('../public/images/food-cont2.jpeg') no-repeat center center/cover;
  /* height: 100px; */
}

.stats-hsla {
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.6);
  padding: 100px 0;
}

.stats-nums>h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.stats-nums>p {
  font-size: 16px;
  font-family: 'inter', sans-serif !important;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
}

/* *********************************************** Section Menu *************************************************  */
.menu-nav {
  width: 100%;
}

@media only screen And (min-width:992px) {
  .menu-nav {
    width: 30%;
  }
}

.menu-nav-list {
  position: relative;
}

.menu-nav-list>a>h4 {
  font-size: 18px !important;
  font-family: 'inter', sans-serif !important;
}

.menu-nav-list>a::after {
  content: " ";
  position: absolute;
  bottom: 0;
  display: block;
  height: 2px;
  background-color: grey;
  width: 100%;
}

.menu-nav-list>a:hover {
  cursor: pointer;
}

.menu-nav-list>a>h4:active {
  color: red;
}

.menu-nav-list>a:active::after {
  background-color: red;
}

/* *********************************************** Section Testimonials *************************************************  */
.testimonials {
  width: 100%;
  padding: 30px 10px;
  background-color: #EEEEEE;
}

.testi-caro {
  width: 100%;
  padding: 10px 5px;
  background-color: rgb(224, 224, 224);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen And (min-width:992px) {

  .testi-caro {
    padding: 10px 5px;
    width: 60%;
    background-color: rgb(224, 224, 224);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.caro-item>div>img {
  border-radius: 50%;
  border: 5px solid white;
  width: 100%;
}

@media only screen and (max-width:1000px) {
  .caro-item>div>img {
    width: 50%;
  }
}

.testi-info>p {
  font-size: 16px !important;
  line-height: 24px !important;
  font-style: italic !important;
  font-family: "Open Sans", sans-serif !important;
}

.testi-info>h3 {
  font-size: 20px !important;
  font-family: 'inter', sans-serif !important;
  font-weight: 700;
  margin: 10px 0 5px;
}

.testi-info>h4 {
  font-size: 14px;
  font-family: 'inter', sans-serif !important;
  color: #6C757D;
  line-height: 16.8px;
  font-weight: 500;
}


/* *********************************************** Events *************************************************  */
.event-caro {
  background: url('../public/images/events-bg.jpg') no-repeat center center/cover;
  height: 500px;
}

@media only screen And (max-width:1000px) {
  .event-caro {
    height: 70vh;
  }
}

.event-caro>div {
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.6);
  padding: 50px 50px;
}

.event-info>h3 {
  color: #CDA45E;
  font-size: 26px;
  font-weight: 600;
  line-height: 31.2px;
}

.event-info>:nth-child(2) {
  font-family: "Open Sans", sans-serif !important;
  font-size: 26px;
  line-height: 39px;
  font-weight: 700;
  color: white;
}

.event-info>div>p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif !important;
  color: white;
  line-height: 24px;
  font-style: italic;
  font-weight: 400;
}



/* *********************************************** CHEFS *************************************************  */
.chef-box {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  transition: all 0.3s;
}

.chef-box:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.chef-box:hover .chef-img>div {
  transform: translateX(-35px)
}

.chef-img>img {
  height: 100% !important;
  width: 100% !important;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.chef-img {
  height: 60%;
  position: relative;
  overflow: hidden;
}

.chef-img>div {
  position: absolute;
  padding: 5px;
  right: -30px;
  top: 50px;
  /* border: 2px solid black; */
  background-color: rgba(58, 58, 58, 0.4);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s;

}

.chef-info {
  height: 30%;
}

.chef-info>h4 {
  font-family: 'inter', sans-serif !important;
  font-size: 20px;
  font-weight: 700;
}

.chef-info>span {
  font-family: "Open Sans", sans-serif !important;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(33, 37, 41, 0.4);
}

.chef-info>p {
  font-family: "Open Sans", sans-serif !important;
  font-size: 14px;
  line-height: 26px;
  padding: 15px 0 0;
}



/* *********************************************** CONTACT *************************************************  */
.contact-info {
  background-color: #f26a6a;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.contact-details>h3 {
  color: #ffffff;
  font-size: 20px;
  font-family: 'inter', sans-serif !important;
  font-weight: 700;
}

.contact-details>p {
  color: white;
}

.contact-form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}





/* *********************************************** SECTION-3 / Order-form /Book a Table *************************************************  */
.section-3 {
  padding: 110px 0 50px 0;
}

/* Order Online  */
.order-section {
  padding: 40px 0;
}

.order-form {
  background-color: #e8e8e8;
}

.order-form-heading>h4 {
  text-align: center;
}

.order-form-heading>p {
  text-align: center;
}

.custom-accordion {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .custom-accordion {
    width: 100% !important;
  }

  .custom-accordion .accordion-item {
    width: 100%;
  }

  .custom-accordion .accordion-button {
    width: 100%;
  }

  .custom-accordion .accordion-collapse {
    width: 100%;
  }

  .order-form {
    width: 60%;
  }
}

.accordion-bg-1 {
  background: url('../public/images/breakfast.jpg') no-repeat center center/cover;
}

.accordion-bg-2 {
  background: url('../public/images/lunch.jpg') no-repeat center center/cover;
}

.accordion-bg-3 {
  background: url('../public/images/desert.jpg') no-repeat center center/cover;
}

.accordion-button>div {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: hsl(0, 0%, 0%, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion .accordion-header::after {
  color: white !important;
}

/* Book a Table  */
.reservation {
  background: url('../public/images/reservation.jpg') no-repeat center center/cover;
  min-height: 250px;
}

.reser-forms {
  background-color: #c2c2c2;
}











/* *********************************************** Footer *************************************************  */
footer {
  width: 100%;
  background-color: black;
  padding: 50px 0;
}

.foot-info>h4 {
  font-size: 16px;
  font-family: 'inter', sans-serif;
  color: white;
  line-height: 19.2px;
  font-weight: 700;
}

.foot-info>p {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  /* line-height: 21px; */
  font-weight: 400;
  margin-bottom: 2px !important;
  color: rgba(255, 255, 255, 0.7);
}

.footer-lower {
  border-top: 1px solid rgba(255, 255, 255, 0.7);
}

.footer-lower>p {
  color: white;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: rgba(255, 255, 255, 0.7);
}